# Local Terraform directories
.terraform/
.terraform.*

# State files
terraform.tfstate
terraform.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# (Optional) keep lock file in git; comment out next line if you prefer to track it
#.terraform.lock.hcl
